html,
body {
    line-height: 1.5;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content {
    padding-top: 0;
}


html,
body {
    font-family: 'Work Sans',sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}

.leaflet-popup-content-wrapper {
    padding: 0;
    border-radius: .35rem;
    overflow: hidden;
}

.leaflet-popup-close-button:hover {
    background-color: transparent;
}

.leaflet-popup-content {
    padding: 0;
    width: 250px;
    font-family: 'Work Sans',sans-serif;
    font-weight: 300;
}


/* Markers */
/* marker image for case studies */
.marker {
    background-image: url('../img/marker2.png');
    background-size: cover;
}

/* yellow marker with count inside */
.dot-marker {
    box-sizing: border-box;
    background: #ffeb00;
    border-radius: 50%;
    text-align: center;
    padding: .75rem;
    line-height: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #5f5e5e;
}

.marker-country {
    box-sizing: border-box;
    background: #ffeb00;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.marker-hospital {
    box-sizing: border-box;
    background: #ffeb00;
    color: #80770e;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    text-align: center;
    font-size: 10px;
}

.marker-casestudy {
    background-image: url('../img/casestudy-pin.svg');
    background-size: cover;
    /* Moves the marker up, so point hits the coords */
    margin-top: -25px!important;
}

/* Popups */
.pop-head {
    padding: .75rem .75rem 0;
    /*border-bottom: 1px solid #a8a8a7;*/
}

.pop-body {
    padding: .75rem;
    padding-top: 0.25rem;
     padding-bottom: 0.25rem;
    /*border-top: 1px solid #a8a8a7;*/
    border-top: 1px solid #eee;
}

h3.pop-sub-title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

h2.pop-title {
    font-size: 18px;
    font-weight: 300;
    color: #f46243;
    /*border-bottom: 1px solid #a8a8a7;*/
    /*padding-bottom: 5px;*/
    margin: 0!important;
}

.pop-population {
    font-size: 14px!important;
    clear: both;
}

.pop-population .count {
    float: right;
    color: #f46243;
}

.pop-image {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
}

.pop-body p {
    font-size: 13px;
    margin-bottom: .375rem;
}

.pop-foot {
    padding: .75rem;
    font-size: 16px;
    background: #f46243;
    color: #fff;
    cursor: pointer;
}

/*.pop-foot a {
    color: inherit;
    text-decoration: none;
}

.pop-foot a:hover {
    text-decoration: none;
    color: #fff;
}
*/
.leaflet-popup-tip {
    border-top: 10px solid #fff;
}

.leaflet-popup-tip.tip--red {
    border-top: 10px solid #f46243;
}
.oximeters-label {
    display: block;
    display: inline-block;
    width: 45%;
    text-align: right;
    margin-right: 5px;

}
.oximiters-num {

    display: inline-block;
    padding: .75rem 1rem;
    border-radius: 5px;
    background: #ffeb00;
    font-size: 1rem;
    line-height: 1.5;

    /*margin-bottom: 1.5rem;*/
}

.center {
    text-align: center;
}

.pop--loading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: #f46243;
}

.pop--loading .pop-footer {
    background: #fff;
}


.pop-stats {
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    table-layout: fixed;
}

.pop-stats tr td:first-child {
    width: 1.5rem;
}

.pop-stats tr td:last-child {
    width: 3rem;
    text-align: right;
    color: #f46243;
}

/*
 * Icons
 */
.icon {
    display: inline-block;
    width: 1.35rem;
    height: 1.35rem;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.icon-hospitals { background-image: url('../svg/plus.svg'); }
.icon-people    { background-image: url('../svg/people.svg'); }
.icon-workshops { background-image: url('../svg/workshops.svg'); }
.icon-plus-box  { background-image: url('../svg/plus-box.svg'); }

/**
 * Buttons
 */

a.btn,
.btn {
    display: inline-block;
    padding: .75rem;
    border-radius: 3px;
    background: #f46243;
    color: #fff;
}

a.btn:hover,
.btn:hover {
    background: #ef7960;
    color: #fff;
}

.btn--full {
    display: block;
    width: 100%;
    text-align: center;
}

.pop-body h6 {
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 5px;
}




@media(max-width: 600px) {
    .pop-image {
        display: none;
    }

    a.btn--full {
        padding: 0;
    }
}



